@import "tailwindcss";

html,
body,
#root {
  background-color: #000;
  min-height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
button {
  font-family: 'Space Grotesk', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.35s ease-in;
}

@keyframes swipeHint {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-swipeHint {
  animation: swipeHint 1.6s ease-in-out infinite;
}

.loader {
  width: 80px;
  aspect-ratio: 1;
  border: 10px solid #000;
  box-sizing: border-box;
  background:
    radial-gradient(farthest-side, #fff 98%, #0000) top,
    radial-gradient(farthest-side, #ffffff 98%, #0000) top,
    radial-gradient(farthest-side, #fff 98%, #0000) left,
    radial-gradient(farthest-side, #fff 98%, #0000) right,
    radial-gradient(farthest-side, #fff 98%, #0000) bottom,
    #000;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  filter: blur(4px) contrast(10);
  animation: l19 2s infinite;
}

@keyframes l19 {
  0% {
    background-position: top, top, left, right, bottom
  }

  25% {
    background-position: right, top, left, right, bottom
  }

  50% {
    background-position: bottom, top, left, right, bottom
  }

  75% {
    background-position: left, top, left, right, bottom
  }

  100% {
    background-position: top, top, left, right, bottom
  }
}